# this file goes into /etc/systemd/system/
# it does not have to be enabled, it will be run from the timer

[Unit]
Description=Swissdeals
After=network.target 

[Service]
Type=oneshot
ExecStart=/home/<USER>/go/bin/swissdeals -slack https://hooks.slack.com/services/...
# Define User or Group here, if you want

[Install]
WantedBy=multi-user.target
Alias=swissdeals.service
