# this file goes into /etc/systemd/system/
# Both files need to have the same name.
# Start the timer with: systemctl enable swissdeals.timer && systemctl start swissdeals.timer
# Debug timers with  systemctl list-timers

[Unit]
Description=Run swissdeals

[Timer]
OnCalendar=*-*-* 09:00:00

[Install]
WantedBy=timers.target
